<div class="container-fluid top" id="top">
  <div class="container">
    <div class="row">
      <div class="col left">
        <h1>Hi I'm Nhan Nguyen</h1>
        <p class="about-me">I'm a full stack web developer based in Dallas, TX.

          I enjoy creating things that live on the internet, whether that be websites, applications, or anything in
          between. My goal is to always build products that provide pixel-perfect, performance experiences.</p>
        <button class="btn btn-primary">
          <a href="/#projects" class="text-white">
            View Projects <i class="fas fa-arrow-circle-right"></i></a>
        </button>
        <button class="btn btn-secondary" [routerLink]="['/contact']">
          Hire Me <i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>

      <div class="col right">
        <img src="https://themes.3rdwavemedia.com/coderpro/bs4/2.0/assets/images/promo-figure-alt.svg" alt="image1"
          width="300" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light body">
  <div class="container container-sm text-center">
    <h2 class="text-center">Skills Overview</h2>
    <p class="about">
      Below is a quick overview of my main technical skill sets and tools I use.
      Want to find out more about my experience?
    </p>

    <div class="card-deck">
      <fieldset class="border card">
        <legend class="text-center bg-primary">
          <img src="https://themes.3rdwavemedia.com/instance/bs4/assets/images/frontend-icon.svg" alt="frontend" />
        </legend>
        <h4>Frontend</h4>
        <div class="text-justify">
          <p class="card-text"><i class="fas fa-check"></i> React/Angular</p>
          <p class="card-text"><i class="fas fa-check"></i> Javascript</p>
          <p class="card-text"><i class="fas fa-check"></i> Node.js</p>
          <p class="card-text">
            <i class="fas fa-check"></i> Webpack/Gulp/Grunt
          </p>
          <p class="card-text">
            <i class="fas fa-check"></i> HTML/CSS/SASS/LESS
          </p>
        </div>
      </fieldset>
      <fieldset class="border card">
        <legend class="text-center bg-primary">
          <img src="https://themes.3rdwavemedia.com/instance/bs4/assets/images/backend-icon.svg" alt="backend" />
        </legend>
        <h4>Backend</h4>
        <div class="text-justify">
          <p class="card-text"><i class="fas fa-check"></i> Python/Django</p>
          <p class="card-text"><i class="fas fa-check"></i> Ruby/Rails</p>
          <p class="card-text"><i class="fas fa-check"></i> C#</p>
          <p class="card-text"><i class="fas fa-check"></i> SQLite/MySQL</p>
          <p class="card-text"><i class="fas fa-check"></i> MongoDB</p>
        </div>
      </fieldset>
      <fieldset class="border card">
        <legend class="text-center bg-primary">
          <img src="https://themes.3rdwavemedia.com/instance/bs4/assets/images/other-skills-icon.svg" alt="others" />
        </legend>
        <h4>Others</h4>
        <div class="text-justify">
          <p class="card-text"><i class="fas fa-check"></i> DevOps</p>
          <p class="card-text"><i class="fas fa-check"></i> Unit Testing</p>
          <p class="card-text"><i class="fas fa-check"></i> UX/Wireframing</p>
          <p class="card-text"><i class="fas fa-check"></i> Sketch/Balsamiq</p>
          <p class="card-text">
            <i class="fas fa-check"></i> Wordpress/Shopify
          </p>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="container-fluid projects text-center" id="projects">
  <h3>Featured Projects</h3>
  <div class="card-deck">
    <div class="card shadow border-0">
      <div class="card-body">
        <img src="https://i.imgur.com/8Sd3xIY.png" alt="dinosaur" class="card-img-top" />
        <h4>
          <a href="http://heroku-spotify-project.herokuapp.com" class="text-dark">Spotify Webapp</a>
        </h4>
        <p>
          <span> Angular </span>
          <span> MongoDB</span>
          <span> HTML/CSS </span>
        </p>
      </div>
    </div>
    <div class="card shadow border-0">
      <div class="card-body">
        <img
          src="https://www.thewowstyle.com/wp-content/uploads/2015/01/house-architecture-photography-hd-wallpaper-1920x1200-9237.jpg"
          alt="real-estate" class="card-img-top" />
        <h4>Real Estate Webapp (in progress)</h4>
        <p>
          <span> Ruby </span>
          <span> Rails </span>
          <span> HTML/CSS </span>
        </p>
      </div>
    </div>
    <div class="card shadow border-0">
      <div class="card-body">
        <img src="https://themefisher.com/wp-content/uploads/edd/2019/04/elite-shop.jpg" alt="shop"
          class="card-img-top" />
        <h4>Shop Webapp (in progress)</h4>
        <p>
          <span>Python</span>
          <span>Django</span>
          <span>HTML/CSS</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light footer">
  <div class="container text-center">
    <img src="https://mattfarley.ca/img/mf-avatar.svg" alt="avatar" width="80" />
    <h3>Interested in hiring me for your project?</h3>
    <p class="text-justify">
      Looking for an experienced full-stack developer to build your web app or
      ship your software product? To start an initial chat, just drop me an
      email at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nhan13574@gmail.com">nhan13574@gmail.com</a> or
      use the
      <a href="/contact">form on the contact page</a>.
    </p>
    <button class="btn btn-primary" [routerLink]="['/contact']">Let's talk</button>

    <div class="social">
      <a href="https://github.com/nathannewyen">
        <span><i class="fab fa-github"></i></span></a>
      <a href="https://www.linkedin.com/in/nhan-nguyen-29098b116/"><span><i class="fab fa-linkedin-in"></i></span></a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nhan13574@gmail.com"><span><i
            class="far fa-envelope"></i></span></a>
    </div>
  </div>
</div>
