a {
  text-decoration: none;
}

// Dark mode
.top,
.projects {
  background: var(--background);
  color: var(--on-background);
}

.body,
.footer {
  background: var(--bground) !important;
  color: var(--on-background);
}




.card {
  background: var(--on-box) !important;
  color: var(--on-box-color)
}

// End Dark mode

@media only screen and (min-width: 1025px) {
  .top {
    font-family: Poppins, sans-serif;
    padding: 50px;
    margin-top: 40px;

    .row {
      .left {
        h1 {
          font-size: 48px;
          font-weight: 700;
        }

        button {
          margin-right: 5px;
          padding: 10px;
        }
      }
    }
  }

  .about-me {
    font-weight: 300;
    font-size: 15px;
  }

  .body {
    font-family: Poppins, sans-serif;
    padding: 50px;

    .about {
      font-size: 16px;
    }

    fieldset {
      margin-top: 10px;
      background: white;
      padding: 40px;

      legend {
        padding: 20px;
        border-radius: 60px;
        width: 90px;
      }

      i {
        color: #41a4f4;
      }
    }
  }

  .projects {
    font-family: Poppins, sans-serif;
    padding: 30px;

    .card-deck {
      img {
        height: 30vh;
      }

      h4 {
        margin: 10px 0px;
      }

      span {
        font-size: 12px;
        color: white;
        border-radius: 15px;
        padding: 3px 10px;
        text-align: center;
        margin: 0px 10px;
        background-color: #58687c;
      }
    }
  }

  .footer {
    font-family: Poppins, sans-serif;
    padding: 50px 30px 30px;

    p {
      width: 70%;
      font-weight: 300;
      margin: 10px auto;
    }

    .social {
      margin-top: 10px;

      span {
        margin: 5px 8px;
      }

      i {
        font-size: 20px;
      }
    }
  }
}

// iPad Pro
@media only screen and (max-width: 1024px) {
  .top {
    font-family: Poppins, sans-serif;
    padding: 50px;
    margin-top: 40px;

    .row {
      .left {
        h1 {
          font-size: 48px;
          font-weight: 700;
        }

        button {
          margin-right: 5px;
          padding: 10px;
        }
      }
    }
  }

  .body {
    padding: 50px;

    .about {
      font-size: 16px;
    }

    fieldset {
      margin-top: 10px;
      background: white;
      padding: 40px;

      legend {
        padding: 20px;
        border-radius: 60px;
        width: 90px;
      }

      i {
        color: #41a4f4;
      }
    }
  }

  .projects {
    padding: 30px;

    .card-deck {
      img {
        height: 200px;
      }

      h4 {
        margin: 10px 0px;
      }

      span {
        font-size: 12px;
        color: white;
        border-radius: 15px;
        padding: 3px 10px;
        text-align: center;
        margin: 0px 5px;
        background-color: #58687c;
      }
    }
  }

  .footer {
    font-family: Poppins, sans-serif;
    padding: 50px 30px 30px;

    p {
      margin: 10px auto;
      font-weight: 300;
    }

    .social {
      margin-top: 10px;

      span {
        margin: 5px 8px;
      }

      i {
        font-size: 16px;
      }
    }
  }
}

// iPad
@media (max-width: 768px) {
  .top {
    font-family: Poppins, sans-serif;
    padding: 50px;
    margin-top: 40px;

    .row {
      .left {
        h1 {
          font-size: 32px;
          font-weight: 700;
        }

        button {
          margin-right: 5px;
          padding: 8px;
        }
      }
    }
  }

  .body {
    padding: 50px;

    .about {
      font-size: 16px;
    }

    fieldset {
      margin-top: 10px;
      background: white;
      padding: 20px;
      font-size: 12px;

      legend {
        padding: 20px;
        border-radius: 60px;
        width: 85px;
      }

      i {
        color: #41a4f4;
      }
    }
  }

  .projects {
    font-family: Poppins, sans-serif;
    padding: 30px;

    .card-deck {
      img {
        height: 100px;
      }

      h4 {
        margin: 10px 0px;
        font-size: 16px;
      }

      span {
        font-size: 12px;
        color: white;
        border-radius: 15px;
        padding: 3px 10px;
        width: 50%;
        text-align: center;
        display: block;
        margin: 5px auto;
        background-color: #58687c;
      }
    }
  }

  .footer {
    font-family: Poppins, sans-serif;
    padding: 50px 30px 30px;

    p {
      margin: 10px auto;
      font-weight: 300;
    }

    .social {
      margin-top: 10px;

      span {
        margin: 5px 8px;
      }

      i {
        font-size: 16px;
      }
    }
  }
}

// iPhone X
@media (max-width: 480px) {
  .top {
    font-family: Poppins, sans-serif;
    padding: 30px 20px;
    margin-top: 60px;

    .right {
      margin-top: 30px;

      img {
        width: 100%;
      }
    }

    .row {
      .left {
        h1 {
          font-size: 18px;
          font-weight: 700;
        }

        p {
          font-size: 14px;
        }

        button {
          margin: 3px 3px;
          padding: 3px;
          font-size: 12px;
        }
      }
    }
  }

  .body {
    padding: 50px;

    .about {
      font-size: 16px;
      text-align: left;
    }

    fieldset {
      margin-top: 10px;
      background: white;
      padding: 20px;
      font-size: 12px;

      legend {
        padding: 20px;
        border-radius: 60px;
        width: 85px;
      }

      i {
        color: #41a4f4;
      }
    }
  }

  .projects {
    font-family: Poppins, sans-serif;
    padding: 30px;

    .card-deck {
      img {
        height: 150px;
      }

      h4 {
        margin: 10px 0px;
        font-size: 16px;
      }

      span {
        font-size: 12px;
        color: white;
        border-radius: 15px;
        padding: 3px 10px;
        width: 50%;
        text-align: center;
        display: block;
        margin: 5px auto;
        background-color: #58687c;
      }
    }
  }

  .footer {
    font-family: Poppins, sans-serif;
    padding: 50px 30px 30px;

    h3 {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      margin: 10px auto;
      font-weight: 300;
      font-size: 12px;
    }

    .social {
      margin-top: 10px;

      span {
        margin: 5px 8px;
      }

      i {
        font-size: 16px;
      }
    }
  }
}
