<div app-theme id="contact">
  <div class="container">
    <!-- Success sent message -->
    <div *ngIf="sent">
      <div class="alert alert-success" role="alert">
        <strong>Message has sent!</strong> Thank you for sent me your message! I will contact you back shortly.
      </div>
    </div>
    <!-- End -->
    <div class="img text-center">
      <img src="https://mattfarley.ca/img/mf-avatar.svg" alt="avatar" width="100">
      <h1>Thanks for taking the time to reach out. How can I help you today?</h1>
    </div>

    <!-- Form -->
    <form #myForm="ngForm">
      <div class="row">
        <div class="form-group col col-sm">
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="newUser.name" class="form-control">
          <div class="err" *ngIf="error.name">
            <p class="text-danger">{{error.name.properties.message}}</p>
          </div>
        </div>
        <div class="form-group col col-sm">
          <label for="email">Email</label>
          <input type="email" name="email" [(ngModel)]="newUser.email" class="form-control">
          <div class="err" *ngIf="error.email">
            <p class="text-danger">{{error.email.properties.message}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" name="message" [(ngModel)]="newUser.message" rows="9"></textarea>
        <div class="err" *ngIf="error.message">
          <p class="text-danger">{{error.message.properties.message}}</p>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-primary" (click)="sendMessage(); myForm.reset()">Submit</button>
      </div>
    </form>
    <!-- End Form -->
  </div>
</div>
