@font-face {
  font-family: 'Eurostile';
  font-style: normal;
  font-weight: normal;
  src: local('Eurostile'), url('../../assets/fonts/eurostile.woff') format('woff');
}

@font-face {
  font-family: 'EuroStyle Normal';
  font-style: normal;
  font-weight: normal;
  src: local('EuroStyle Normal'), url('../../assets/fonts/EuroStyle Normal.woff') format('woff');
}

// Darkmode
#contact {
  height: 95vh;
  background: var(--background);
  color: var(--on-background) !important;
}

// End Darkmode

@media (min-width: 1025px) {
  .container {
    margin-top: 68px !important;
    font-family: 'Eurostile';

    h1 {
      font-size: 48px;
    }

    form {
      padding: 10px 150px;
      margin-top: 30px;

      label {
        font-size: 20px;
        color: rgba(41, 51, 71, 0.65);
      }

      input {
        padding: 20px;
      }

      textarea {
        resize: none;
      }

      button {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 70px;
        border-radius: 40px;
        border: 2px solid;
      }
    }
  }
}

// iPad Pro
@media (min-width: 1024px) {
  .container {
    margin-top: 80px;
    font-family: 'Eurostile';

    h1 {
      font-size: 48px;
    }

    form {
      padding: 10px 150px;
      margin-top: 30px;

      label {
        font-size: 20px;
        color: rgba(41, 51, 71, 0.65);
      }

      input {
        padding: 20px;
      }

      textarea {
        resize: none;
      }

      button {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 70px;
        border-radius: 40px;
        border: 2px solid;
      }
    }
  }
}


// iPad
@media (max-width: 768px) {
  .container {
    margin-top: 80px;
    font-family: 'Eurostile';

    h1 {
      font-size: 30px;
    }

    form {
      padding: 10px 100px;
      margin-top: 30px;

      label {
        font-size: 20px;
        color: rgba(41, 51, 71, 0.65);
      }

      input {
        padding: 20px;
      }

      textarea {
        resize: none;
      }

      button {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 70px;
        border-radius: 40px;
        border: 2px solid;
      }
    }
  }
}

// iPhone
@media (max-width: 375px) {
  .container {
    margin-top: 80px;
    font-family: 'Eurostile';

    h1 {
      font-size: 20px;
    }

    form {
      padding: 10px 10px;
      margin-top: 30px;

      label {
        font-size: 20px;
        color: rgba(41, 51, 71, 0.65);
      }

      input {
        padding: 20px;
      }

      textarea {
        resize: none;
      }

      button {
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 70px;
        border-radius: 40px;
        border: 2px solid;
      }
    }
  }
}
